<div class='bootbox modal fade show' tabindex='-1' role='dialog' style='padding-right: 16px; display: block;'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-body'>
                <button type='button' class='bootbox-close-button close' data-dismiss='modal' aria-hidden='true'
                    style='margin-top: -10px;'>×</button>
                <div class='bootbox-body'>
                    <div class='container-fluid text-center'>
                        <h4>Notes For Article: 5cc8e0942747ef0015072625</h4>
                        <hr>
                        <ul class='list-group note-container'>
                            <li class='list-group-item'>No notes for this article yet.</li>
                        </ul><textarea placeholder='New Note' rows='4' cols='60'>
                            </textarea>
                        <button class='btn btn-success save'>Save Note</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
